<template>
  <header class="header">
    <h1>TodoList</h1>
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/contact">Contact</router-link> |
      <router-link to="/about">About</router-link> |
      <router-link to="/users">User</router-link> |
      <router-link to="/dashboard">DASHBOARD</router-link> |
      <router-link to="/signup">SIGNUP</router-link> |
      <router-link to="/login">LOG in</router-link> |
    </div>
  </header>
</template>

<script>
export default {
  name: "Header"
}
</script>

<style scoped>
  .header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  .header a {
    color: #fff;
    padding-right: 5px;
    text-decoration: none;
  }
</style>


