<template>
  <header class="header">
    <div class="header-logo">
      <!-- <a href="/">
                    <img src="../../assets/img/logo_socializer.svg">
      </a>-->
      <router-link to="/" class="nav-link">
        <img src="../../assets/img/logo_socializer.svg">
      </router-link>
    </div>
    <!-- login section header -->
    <div class="login-section">
      Vous n’avez pas encore de compte ?
      <!-- <a
        href="register-user.php"
        class="btn btn-rounded btn-transparent btn-border--blue"
      >inscription</a> -->

        <router-link to="/signup"  class="btn btn-rounded btn-transparent btn-border--blue" >
        inscription
      </router-link>
    </div>
  </header>
</template>
<script>
export default {
  name: 'HeaderLogin',
};
</script>
<style scoped>
</style>
