<template>
  <div class="contact">
    <button
      type="button"
      class="btn btn-outline-secondary center"
      scope="public_profile,email,user_birthday,user_location,user_photos,user_posts"
      @click="checkLoginState"
    >
      <span>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </span>
      Login
    </button>

    <div>
      <p>the status is : {{status}}</p>
      <p>the id : {{data.id}}</p>
      <p>the data : {{ data.email }}</p>
      <p>the count friends : {{ friends }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "contact",
  data() {
    return {
    //   date: new Date().toDateString(),
      data:{},
      friends:'',
      status: '',
    };
  },
  methods: {
    statusChangeCallback(response) {
      if (response.status === "connected") {
        // console.log("Logged in and authenticated");
        this.status = 'Logged in and authenticated'
        this.fetchData();
      } else {
        // console.log("Not authenticated");
        this.status = 'not logged'
      }
    },
    checkLoginState() {
      FB.getLoginStatus( (response) => {
        this.statusChangeCallback(response);
      });
    },

    fetchData() {
      FB.api("https://graph.facebook.com//me?fields=id,name,birthday,friends,email",(
        response) => {
        if (response && !response.error) {
          console.log('the respons', response);
          this.data = response
          this.friends = response.friends.summary.total_count;
        }

      });
    }
  },
  created() {
    // const vm = this;

    window.fbAsyncInit = function() {
      FB.init({
        appId: "577189906130896",
        cookie: true,
        xfbml: true,
        version: "v3.2"
      });

      FB.getLoginStatus((response) => {
        // console.log(vm);
        // vm.statusChangeCallback(response);
        console.log('the stat', response);
      });
    };

    (function(d, s, id) {
      let js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
  }
};
</script>
<style>
.center {
  justify-content: center;
}
</style>


