<template>
  <div class="home">
    <Header/>
    <main>
      <div class="dashboard-container">
        <Sidebar/>
        <!-- right content -->
        <div id="mainContent">
          <!-- title dashboard -->
          <div class="title-dashboard">
            <h2>Mes préférences</h2>
          </div>

          <div class="py-5">
            <div class="py-3">
              <button
                type="button"
                class="btn btn-squared btn-transparent btn-border--blue"
                data-toggle="modal"
                data-target="#modalPhoto"
                @click="loginFb"
              >
                <i class="fab fa-facebook-f"></i>
                Connecter facebook
              </button>
            </div>

            <div class="py-3">
              <button
                type="button"
                class="btn btn-squared btn-transparent btn-border--blue"
                data-toggle="modal"
                data-target="#modalPhoto"
                @click="logoutFb"
              >
                <i class="fab fa-instagram"></i>
                Connecter Instagram
              </button>
            </div>
          </div>

          <div class="py-3">
            <div class="title-dashboard">
              <h2>Mon offre</h2>
            </div>

            <div class="py-5 home-section--features">
              <div class="features-wrapper">
                <div class="feature-card">
                  <h4>Offre start</h4>
                  <p>One account connection</p>
                  <span>300.00 €</span>
                  <div class="text-center mt-2">
                    <button
                      type="button"
                      class="btn btn-squared btn-transparent btn-border--blue"
                      data-toggle="modal"
                      data-target="#modalPhoto"
                    >Commander</button>
                  </div>
                </div>

                <div class="feature-card">
                  <h4>Offre Premium</h4>
                  <p>Full options</p>
                  <span>1 000.00 €</span>
                  <div class="text-center mt-2">
                    <button
                      type="button"
                      class="btn btn-squared btn-transparent btn-border--blue"
                      data-toggle="modal"
                      data-target="#modalPhoto"
                    >Commander</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer/>
  </div>
</template>
<script>
import Footer from "../components/layout/Footer";
import Sidebar from "../components/layout/Sidebar";
import Header from "../components/layout/Header";
import { mapGetters } from "vuex";

export default {
  name: "dashmonitoring",
  computed: {
    ...mapGetters(["flavor"])
  },
  components: {
    Header,
    Footer,
    Sidebar
  },

  methods: {
    changed: function(event) {},

    loginFb() {
      FB.login(function(response) {
        if (response.authResponse) {
          console.log("Welcome!  Fetching your information.... ", response);
          FB.api("/me", function(response) {
            console.log("Good to see you, " + response.name + ".");
          });
        } else {
          console.log("User cancelled login or did not fully authorize.");
        }
      });
    },
    logoutFb() {
      FB.logout(function(response) {
        // Person is now logged out
        console.log('dissconnected successfully ');
      });
    }
  },
  created() {
    window.fbAsyncInit = () => {
      FB.init({
        appId: "577189906130896",
        cookie: true,
        xfbml: true,
        version: "v3.2"
      });

      console.log("inited");
    };

    ((d, s, id) => {
      let js,
        fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    })(document, "script", "facebook-jssdk");
  }
};
</script>