<template>
  <div class="home">
    <Header/>
    <main>
      <div class="dashboard-container">
        <Sidebar/>
        <!-- right content -->
        <div id="mainContent">
          <!-- title dashboard -->
          <div class="title-dashboard">
            <h2>Mes informations</h2>
          </div>

          <div class="button-group">
            <button type="button" class="btn btn-transparent btn-border--blue">
              <i class="fas fa-edit"></i>
              modifier mes informations
            </button>
            <button type="button" class="btn btn-green">
              <i class="fas fa-camera-retro"></i>
              modifier ma photo
            </button>
          </div>

          <!-- infos users -->
          <div class="user-info-wrapper">
            <div class="white-card mh">
              <div class="info-user-line">
                <label>Nom:</label>
                <span>{{ flavor.user }}</span>
              </div>
              <div class="info-user-line">
                <label>Prénom:</label>
                <span>{{ flavor.prenom }}</span>
              </div>
            </div>
            <div class="white-card mh">
              <div class="info-user-line">
                <label>Adresse:</label>
                <span>13 rue de la paix, 75012 Paris 12ème</span>
              </div>
              <div class="info-user-line">
                <label>Téléphone:</label>
                <span>06 26 02 65 16</span>
              </div>
              <div class="info-user-line">
                <label>Mail:</label>
                <span>{{ flavor.email }}</span>
              </div>
            </div>
          </div>

          <div class="py-5">
            <button
              type="button"
              class="btn btn-squared btn-blue"
              data-toggle="modal"
              data-target="#modalPhoto"
            >
              <i class="fas fa-key"></i>
              modifier mon mot de passe
            </button>
          </div>
        </div>
      </div>
    </main>
    <Footer/>
  </div>
</template>
<script>
import Footer from "../components/layout/Footer";
import Sidebar from "../components/layout/Sidebar";
import Header from "../components/layout/Header";
import { mapGetters } from "vuex";

export default {
  name: "dashboard",
  computed: {
    ...mapGetters(["flavor"])
  },
  components: {
    Header,
    Footer,
    Sidebar
  },

  methods: {
    changed: function(event) {
      // this.$store.commit('change', event.target.value)
      // this.$store.commit('change', 'bouyaaa')
    }
  }
};
</script>