<template>
  <div class="login">
    <HeaderLogin/>
    <div class="register-user-section">
      <div class="main-title">
        <!-- <h1>Connectez-vous sur <span class="color-red">Socializer.</h1> -->
      </div>
      <form v-on:submit.prevent="onSubmit" class="register-user-form w-75 mx-auto">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label for>Utilisateur / mail</label>
              <input
                v-model="email"
                type="text"
                class="form-control"
                required="required"
                placeholder="Utilisateur ou adresse mail"
              >
              <p>le message is : {{email}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label for>Mot de passe</label>
              <input
                v-model="password"
                type="password"
                class="form-control"
                required="required"
                placeholder="Mot de passe"
              >
              <p>the password is {{password}}</p>
            </div>
          </div>
        </div>
        <div class="remember-check">
          <input type="checkbox" id="remember_me" name="_remember_me" checked>
          <label for="remember_me">Se souvenir de moi</label>
        </div>
        <input
          type="hidden"
          id="fos_user_registration_form__token"
          name="fos_user_registration_form[_token]"
          value="Q0FAwlluzXShFp-gIJG8E66IMoO55LwoYPCRo12Ys_Y"
        >
        <!-- type="submit"  -->
        <button v-on:click="login(email,password)" class="btn btn-rounded btn-green">Connexion</button>
        <a class="request-link" href="request-password.php">J'ai oublié mon mot de passe</a>
      </form>
    </div>
  </div>
</template>

<script>
import HeaderLogin from "../components/layout/HeaderLogin.vue";
import axios from "axios";
export default {
  name: "login",
  components: {
    HeaderLogin
  },
  data() {
    return {
      email: "",
      password: "",
      error: null
    };
  },
  methods: {
    say: function(message) {
      alert(message);
    },
    login(email, password) {
      console.log("posting in");
      console.log(email);
      console.log(password);
      axios
        .post("http://localhost:3000/auth/signin", {
          email: email, //'lol@gmail.com',
          password: password //'lollol',
        })
        .then(res => {
          console.log("the res is :", res), 
          this.$store.commit('change', res.data)
          console.log(res.data);
          this.$router.push("/dashboard");
        })
        .catch(err => {
          console.log(err), 
          this.say("password incorrect");
        });
    },
    
  },
  created() {
  }
};
</script>
