<template>
  <div>
    <h1>working here to</h1>
    <Users v-bind:users="users"/>
    <h2>hello {{name}}</h2>
  </div>
</template>

<script>
import Users from "../components/Users";
import axios from "axios";

const id = 1;


export default {
  name: "User",


  components: {
    Users
  },
  data() {
    return {
      users: [],
      name
    };
  },
  methods: {
    getUser(id) {
      axios
        .get(`https://jsonplaceholder.typicode.com/users/${id}`)
        .then(res => {
          this.users = this.users.filter(user => user.id !== id);
          console.log(this.users);
        })
        .catch(err => console.log(err));
    }
  },
  created() {
    // axios.get('https://jsonplaceholder.typicode.com/users?_limit=10')
    //   .then(
    //     res => {
    //     console.log("im here home :", res.data);
    //       this.users = res.data}
    //   )

    //   .catch(err => console.log(err));

    axios
      .get(`https://jsonplaceholder.typicode.com/users/${id}`)
      .then(res => {
        this.name= res.data.name;
      })
      .catch(err => console.log(err));
  }
};
</script>


<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}
</style>
